<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<resource th:fragment="commonResources" th:remove="tag">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>All-Language-Community</title>

  <!--css-->
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
  />

  <link rel="stylesheet" href="/assets/css/base.css"/> <!--tailwind-->
  <link rel="stylesheet" href="/assets/css/components.css"/> <!--tailwind-->
  <link rel="stylesheet" href="/assets/css/utilities.css"/> <!--tailwind-->
  <link rel="stylesheet" href="/assets/css/tailwind.css"/> <!--tailwind-->
  <link rel="stylesheet" href="/assets/css/tailwind.output.css"/> <!--tailwind(템플릿 커스텀)-->

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous"
  />  <!--폰트어썸 아이콘 관련-->

  <link rel="stylesheet" href="/css/common.css"/> <!-- 공통 적용 css -->

  <!--css-->
</resource>