.posts_java{color:#ff5a1f;background-color:#feecdc;}
.posts_python{color:#0095ff;background-color:#d6fdff;}
.posts_c{color:#03a703;background-color:#e0ffe7;}
.posts_cpp{color:#c120debf;background-color:#fde5ff;}
