<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      :class="{ 'theme-dark': dark }" x-data="data()" lang="en"
>
<head>
  <!-- commonResources -->
  <resource th:replace="include/commonResources :: commonResources" th:remove="tag"/>
  <!-- commonResources -->
  <link rel="stylesheet" href="/css/index.css"/>

</head>

<body>

<div
    class="flex h-screen bg-gray-50 dark:bg-gray-900"
    :class="{ 'overflow-hidden': isSideMenuOpen }"
>
  <!-- sidebar -->
  <aside th:replace="include/sidebar :: sidebar"/>
  <!-- sidebar -->

  <div class="flex flex-col flex-1 w-full">
    <!-- header -->
    <header th:replace="include/header :: header"/>
    <!-- header -->

    <main class="h-full overflow-y-auto">

      <div class="container px-6 mb-8 mx-auto grid">
        <form>
          <input type="hidden" id="writeMemberIdx" th:value="${member.memberIdx}">
          <div
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
          >
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> 제목 </span>
              <input
                  class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  id="title" placeholder="제목을 입력하세요"/>
            </label>

            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"> 작성자 </span>
              <input
                  class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  id="memberName" th:value="${member?.name}" disabled/>
            </label>

            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> 내용 </span>
              <textarea
                  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  rows="3" id="content" placeholder="내용을 입력하세요.">
                                </textarea>
            </label>
          </div>
        </form>
        <a href="/board/c" role="button"
           class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          취소
        </a>
        <button
            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            id="btn-save">
          등록
        </button>
      </div>
    </main>
  </div>
</div>
<script src="/js/index.js"></script>
<script src="/js/board-c.js"></script>
</body>
</html>
